.featured-container {
  width: 100%;
  overflow: hidden;
  box-shadow: 0 0 3px black;
}

.slider {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  transition: 1s ease all;
}

.slider>img {
  width: 100%;
  aspect-ratio: 16/4;
}