.products {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-products-container {
  width: 100%;
  max-width: 1200px;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

.products-container li {
  display: flex;
  justify-content: center;
}

.btn-volver-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.btn-volver {
  border: none;
  background: none;
  padding: 1rem 2rem;
  text-transform: uppercase;
  padding: 1rem 2rem;
  background-color: black;
  color: white;
  opacity: .8;
  justify-self: center;
  border-radius: 10px;
}

.btn-volver:hover {
  opacity: 1;
  cursor: pointer;
}