.navbar-container {
  width: 100%;
  min-height: 10vh;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* position: fixed; */
}

.brand-search-icons-container {
  max-width: 1250px;
  width: 100%;
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.logo {
  /* height: 50px; */
  width: 45%;
  max-width: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo-img {
  height: 55px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative; */
}

.search-form {
  width: 100%;
}

.search-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.search-btn-fav {
  background: none;
  border: none;
}

.search-input {
  margin-top: 10px;
  border-radius: 2px;
  border: 1px solid #ccc;
  padding: .3rem;
  height: 45px;
  display: none;
  position: absolute;
  font-style: italic;
  left: 0px;
  width: 100%;
  outline: none;
  box-shadow: 0px 0px 3px rgba(255, 0, 0, 0.275);
  z-index: 2;
}

.search-img {
  width: 30px;
  /* position: absolute;
  right: .2rem; */
}

.navbar {
  display: none;
  width: 100%;
  max-width: 1000px;
  overflow: hidden;
}

.navbar.show {
  animation: heightChangePlus 1.5s linear both;
  animation-iteration-count: 1;
}

@keyframes heightChangePlus {
  0% {
    height: 0;
  }

  33.3% {
    height: 130px;
  }

  66.6% {
    height: 260px;
  }

  100% {
    height: 290px;
  }
}

@keyframes heightChangeRest {
  0% {
    height: 290px;
  }

  33.3% {
    height: 180px;
  }

  66.6% {
    height: 70px;
  }

  99% {
    height: 60px;
  }

  100% {
    height: auto;
  }
}


.navbar-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0;
  align-items: flex-start;
  text-transform: uppercase;
  width: 100%;
  gap: 1rem;
  list-style: none;
  font-weight: 400;
  padding: 1rem;
}

.navbar-menu li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.892);
  /* padding: .5rem .5rem; */
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.navbar-menu li a:hover {
  color: #116af8;
  border-bottom: 2px solid #116af8;
}

.menu-btn {
  width: 30px;
  height: 35px;
  padding: .3rem 0;
  border: none;
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menu-btn .line {
  width: 100%;
  height: .2rem;
  background-color: black;
}

.collapse .line1 {
  transition: .5s ease all;
  translate: 0px .375rem;
  transform: rotate(-45deg);
}

.collapse .line3 {
  transition: .5s ease all;
  translate: 0px -.375rem;
  transform: rotate(-135deg);
}

.collapse .line2 {
  display: none;
}

.show {
  display: flex;
}

@media (min-width: 500px) {
  .brand-search-icons-container {
    gap: 5.5rem;
    justify-content: space-between;
  }

  .logo {
    width: 35%;
  }
}

@media (min-width: 768px) {
  .brand-search-icons-container {
    padding: 1rem 2rem;
  }

  .logo-img {
    height: 80px;
  }

  .navbar-menu {
    padding: 1rem 2rem;
  }

  .collapse .line1 {
    transition: .5s ease all;
    translate: 0px .4rem;
    transform: rotate(-45deg);
  }

  .collapse .line3 {
    transition: .5s ease all;
    translate: 0px -.4rem;
    transform: rotate(-135deg);
  }

  .navbar.show {
    height: 0;
  }
}

@media (min-width: 992px) {
  .brand-search-icons-container {
    gap: 0rem;
  }

  .search-input {
    display: block;
    position: inherit;
    margin: 0;
    border-color: #116af8ae;
  }

  .search-form {
    max-width: 850px;
    display: flex;
    position: relative;
  }

  .search-btn {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0 .5rem;
    /* border: .5px solid #116af8ae; */
    background-color: #116af858;
  }

  .navbar {
    display: flex;
  }

  .navbar-menu {
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 1.2rem;
  }

  .menu-btn {
    display: none;
  }

  .navbar.show {
    animation: heightChangeRest 1.5s linear both;
    animation-iteration-count: 1;
  }
}