* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* background-color: #222; */
  background-color: rgba(255, 255, 255, 0.83);
  color: #dbdbdb;
  font-family: system-ui, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}